:root {
  --color-red: #e5484d;
  --color-blue: #3e9ad8;
  --color-yellow: #f59e0b;
  --font-title : 30px; 

}

html {
  font-family: "Inter", sans-serif;
  background-color: #eee;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  width: 100%;
  background-color: #fff;
  margin: auto;
  /* border: 4px solid red; */
}

main {
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  padding: 64px 32px 120px 32px;
  /* margin-top: 30vh; */
}

.main-title {
  font-size: var(--font-title);
  font-weight: 700;
  margin-bottom: 32px;
}

.notification-list {
  width: 100%;
}

.notify-box {
  padding: 32px;
  border: 1px solid;
  margin-bottom: 24px;
  border-radius: 12px;
}

.status-urgent {
  border-color: var(--color-red);
  .label {
    color: var(--color-red);
  }
  button {
    background-color: var(--color-red);
    color: #fff;

    cursor: pointer;
    &:hover {
      background-color: #e5484d88;
    }
  }
}

.status-promo {
  border-color: var(--color-blue);
  .label {
    color: var(--color-blue);
  }
  button {
    background-color: var(--color-blue);
    color: #fff;

    cursor: pointer;
    &:hover {
      background-color: #3e9ad888;
    }
  }
}

.status-info {
  border-color: var(--color-yellow);
  .label {
    color: var(--color-yellow);
  }
  button {
    background-color: var(--color-yellow);

    cursor: pointer;
    &:hover {
      background-color: #f59e0b88;
    }
  }
}

.label {
  line-height: 16px;
  letter-spacing: 1.2px;
  font-size: 12px;
  font-weight: bold;
}

button {
  width: 123.66px;
  height: 40px;
  padding: 10px 20px;
  border-width: 0px;
  border-radius: 2px;
  padding-top: 8px;
}

.box-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 15px;
  margin-top: 16px;
}

.box-desc {
  font-size: 15px;
  line-height: 24.4px;
  margin-bottom: 16px;
}
