html {
  font-family: "Poppins", sans-serif;
}
.Albums {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eff0f1;
  width: 1520px;
  height: 740px;
  gap: 56px;
  padding: 55px 64px;
  padding-top: 0px;
  border-radius: 26px;
  box-shadow: 0 0 30px #2c3e50;
}
.ten_albums{
    display: flex;
    flex-direction: column;
   justify-self: start;
   margin-right: 63%;
   margin-top: 50px;
}
h1 {
  width: 314px;
  height: 40px;
  font-size: 32px;
  font-family: "Merriweather", serif;
  font-weight: bold;
}
.select {
  display: flex;
  gap: 8px;
  width: 443px;
  height: 44px;
  margin-right: auto;
}
.cac_select {
  height: 44px;
  border-radius: 8px;
  gap: 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c5c5d4;
}

.text_select {
  font-size: 16px;
  white-space: nowrap;
  font-weight: medium;
}

.img_group {
  display: flex;
  align-items: center;
  width: 1439px;
  height: 489px;
  gap: 64px;
  margin: auto;
}

.img {
  display: flex;
  flex-direction: column;
  width: 437px;
  height: 450px;
  gap: 24px;
  padding: 24px;
  border-radius: 32px;
  background-color: #ffffff;
}
.img_group_nho {
  display: flex;
  flex-direction: column;
  width: 389px;
  height: 381px;
  gap: 16px;
}
.big_img {
  width: 389px;
  height: 268px;
  border-radius: 24px;
}

.small_img {
  width: 119px;
  height: 97px;
  border-radius: 24px;
}
.img_nho {
  display: flex;
  align-items: center;
  width: 389px;
  height: 97px;
  gap: 16px;
}

.icon_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
