h1 {
  font-family: "Merriweather", serif;
  margin: 0 0 24px 8px;
  font-weight: bold;
  font-size: 32px;
}

html {
  font-family: "Poppins", sans-serif;
  color: #0e0e38;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.albums {
  width: 1563px;
  padding: 62px;
  background-color: #eff0f188;
  margin: auto;
  margin-top: 20vh;
  border-radius: 26px;
  box-shadow: 16px 18px 10px #efefef;
}

.name-albums {
  width: 443px;
  height: 108px;
  margin-bottom: 56px;
  margin-left: -8px;
  .btn-topics {
    height: 44px;
    border-radius: 8px;
    padding: 10px;
    margin-left: 8px;
    border: 0 solid #ddd;

    font-size: 16px;
    background-color: #fff;

    cursor: pointer;
    &:hover {
      background-color: #eff0f1;
    }
  }
}

.img-group {
  width: 1439px;
  gap: 64px;

  .small-img-group {
    width: 437px;
    border-radius: 32px;
    padding: 24px;
    gap: 24px;
    background-color: #fff;
  }

  .img-big {
    width: 389px;
    height: 268px;
    margin-bottom: 15px;
  }
  .img-small {
    width: 389px;
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;
    img {
      width: 119px;
      height: 97px;
      border-radius: 24px;
    }
  }
}

.topic-and-icon {
  display: flex;
  justify-content: space-between;
}
