.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center-wrap {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}