@font-face {
  font-family: "BeaufortforLOL-Bold";
  src: url(./F3-11-LOL/beaufort-for-lol/BeaufortforLOL-Bold.ttf);
}

:root {
  --color-name-frame: #0e4c67;
}

html {
  font-family: "BeaufortforLOL-Bold";
  font-size: 10px;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
}

.Sona {
  max-width: 144rem;
  margin-bottom: 3.2rem;
}

.header {
  position: sticky;
  top: 0;
  background-color: #fff;
  .Logo {
    max-width: 24rem;
    margin-bottom: 3.2rem;
  }

  .nav-bar {
    max-width: 71.3rem;
    gap: 3.2rem;
    font-weight: 700;
    font-style: Bold;
    font-size: 2rem;
    margin-bottom: 6.2rem;

    a {
      color: #000;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid #ffa800;
      }
    }
  }
}

.grid-champion {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 3.2rem;
  margin-bottom: 6.4rem;

  a {
    font-weight: 700;
    font-style: Bold;
    font-size: 2rem;

    color: #fff;
  }
  .frame-champion {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 32.8rem;
    height: minmax(20rem, 45rem);

    img {
      width: 100%;
      max-width: 32.8rem;
    }

    .name-champion {
      display: flex;
      width: 100%;
      max-width: 32, 8rem;
      height: 8rem;
      background-color: var(--color-name-frame);
      align-items: center;
      justify-content: center;
    }
  }
}

.Xayda-and-Rakan {
  width: 100%;
  max-width: 144rem;
  margin-bottom: 7.3rem;
}

.footer {
  width: 100%;
  max-width: 144rem;
  height: 10rem;
  background-color: var(--color-name-frame);

  p {
    font-weight: 700;
    font-style: Bold;
    font-size: 2rem;
    color: #fff;
  }

  .Play-for-free {
    gap: 2.4rem;
    margin: 2.4rem;

    input {
      width: 100%;
      max-width: 28rem;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 1.6rem;
      color: #fff;
      background-color: var(--color-name-frame);
      padding: 1.5rem 2.4rem;
      border: 2px solid #ffa800;

      &::placeholder {
        color: #fff;
      }
    }

    button {
      width: 100%;
      max-width: 12rem;
      height: 5.2rem;
      color: #fff;
      font-family: BeaufortforLOL-Bold;
      font-weight: 700;
      font-size: 1.6rem;
      border-radius: 0.5rem;
      background-color: #ffa800;

      cursor: pointer;
    }
  }
}
