html {
  font-family: Arial, Helvetica, sans-serif;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #eee;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 30vh;
}

form {
  margin: 0 auto;
  width: 320px;
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
  font-size: 14px;
 

  label {
    display: block;
    padding-bottom: 8px;
  }

  .form-group {
    padding-bottom: 24px;
  }

  input,
  button {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
  }
  input {
    background-color: #f9f9f9;
    opacity: 80%;
    border: 1px solid #d9d9d9;
  }
  button {
    background-color: #0088ff;
    color: #fff;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    &:hover {
      background-color: #0088ff88;
    }
  }
  a {
    color: #007aff;
    text-decoration: none;
  }
}
