html {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
.Login_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 24px;
  width: 350px;
  height: 334px;
  padding: 24px;
}

h2 {
  width: 59px;
  height: 28px;
  font-size: 24px;
}

form {
  width: 320px;
  height: 282px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 24px;
  border-radius: 8px;
  background-color: aliceblue;
}

.email,
.password {
  width: 300px;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 8px;
  margin: auto;
}

button {
  width: 272px;
  height: 34px;
  padding: 8px;
  margin: auto;
  border-radius: 8px;
  background-color: #0088ff;
  color: #f9f9f9;
  font-size: 16px;
  border: 0 solid #0088ff;
}
label {
  width: 272px;
  height: 16px;
  font-size: 14px;
}

.input {
  width: 272px;
  height: 32px;
  padding: 8px;
  opacity: 72%;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.pass_forgotPass {
  width: 300px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a.pass_forgotPass {
  white-space: nowrap;
}
