body {
  background-color: beige;
  font-family: sans-serif;
  font-size: 16px;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

.tieude {
  color: blue;
}


#ten {
  text-transform: uppercase;
}

.phantu{
    width: 800px;
    text-align: center;
    margin: auto;
}